<div class="row">
  <div class="col-md-8">
    <h4>CPU</h4>
    <div data-flot-series="<%= flot_series(@cpu_series) %>" data-flot-height="250"></div>
  </div>
  <div class="col-md-4">
  </div>
</div>

